@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --font1:'Bree Serif';
    --font2:Lucida;
    --corFundo: #cbc6c6;
    --corHover:rgba(255, 251, 251, 0.859);
    --corShadow: rgba(212, 212, 212, 0.889);
}


html{
    scroll-behavior: smooth;
              
}
.button input{
    visibility: hidden;
}
.button label{
    visibility: hidden;
}

#back-to-top {
    cursor: pointer;
    position: fixed;
    font-size: 35px;
    left: 4%;
    bottom: 30%;
    visibility: hidden;   
    z-index: 10;
}

#back-to-top:hover{
    transition: 0.3s;
    transform: translateY(-30%);
}

.whats_icon{
   position: fixed;
    left: 2%;
    bottom: 5%;
    z-index: 10;
}


.whats_icon img:hover{
    transform: scale(1.2);
    transition: 0.2s;
}
.header-background{
    background-image: url(Images/background-header.jpeg);
    background-size: contain;
    background-attachment: fixed;
    background-position: bottom center;
    position: absolute;
    width: 100vh;
    height: 120px;
    opacity: 0.15;
    z-index: -1;
    
}

.header{
    display: flex;
    margin-bottom: 25px;
    width: 100%;
    height: 120px;
    margin-bottom: 25px;
    z-index: 10;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px var(--corShadow);
  
   
}

.title{
    font-size: 20px;
    font-family: var(--font1);
    letter-spacing: 0.8px;
     
}

.button{
    margin-left: 200px;
   }
  
.button ul a {
    
    display: inline-flex;
    flex-direction: row;
    margin-top: 15%;
    font-family:var(--font1);
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
    color: black;
    padding: 5px;
    z-index: 10;
    
}

.button a:hover{
    
    background-color: var(--corHover);
    border-radius: 3px; 
    transform: scale(1.1);
}

#slider{
    background-color: var(--corFundo);
    width: 100%;
    
    margin: 0 auto;
    box-shadow: 2px 2px 3px var(--corShadow);
    border-radius: 3px;
}

.slider{
    
    margin: 0 auto;
    width: 800px;
    height: 350px;
    overflow: hidden;
    box-shadow: 2px 2px 3px var(--corShadow);
}

.sliders{
    
    width: 400%;
    height: 350px;
    display: flex;
}

.sliders input{
    display: none;
}

.slide{
    width: 25%;
    
    position: relative;
    transition: 2s;  
}

.slide img{
    width: 800px;
    border-radius: 3px;    
}

.nav-manual{
    position: absolute;
    width: 900px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    
}

.manual-btn{
    border: 2px white;
    width: 22px;
    height: 22px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
    opacity: 0.7;
}
.manual-btn:not(:last-child){
    margin-right: 42px;
   

}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}
#radio5:checked ~ .first{
    margin-left: -100%;
}
#radio6:checked ~ .first{
    margin-left: -125%;
}
#radio7:checked ~ .first{
    margin-left: -150%;
}

.nav-auto div{
    border: 2px solid white;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.7;
    transition: 1s;
}

.nav-auto{
    position: absolute;
    width: 900px;
    margin-top: 310px;
    display: flex;
    justify-content: center;
}

.nav-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: white;
}

#radio5:checked ~ .nav-auto .auto-btn5{
    background-color: white;
}

#radio6:checked ~ .nav-auto .auto-btn6{
    background-color: white;
}

#radio7:checked ~ .nav-auto .auto-btn7{
    background-color: white;
}

.empresa{
    display:  flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin: auto;
    margin-bottom: 25px;
    background-color: var(--corFundo);
    border-radius: 3px;
    box-shadow: 2px 2px 3px var(--corShadow);
}

.text{
    width: 80%;
    height: 350px;   
}

#empresa_link h1{
    width: 80%;
    margin: auto;
    font-family: var(--font1);
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.text p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    line-height: 1.52em;
    padding: 20px 20px 20px 10px;
}

.empresa .img_lat{
    background-image: url(Images/logo_el.png);
    background-size: cover;
    background-repeat: none;
    align-items: center; 
    margin-right: 20px;
    width: 450px;
    height: 250px;
    border-radius: 3px;  
}

.services-background{
    background-image: url(Images/background-header.jpeg);
    background-size: cover;
   background-attachment: fixed;
    background-position: center center;
    opacity: 0.3;
    width: 100%;
    height: 1500px;
    position: absolute;
    z-index: -1;
    border-radius: 3px;
    box-shadow: 2px 2px 3px var(--corShadow);
    
}

.service_title{
    font-family: var(--font1);
    padding: 10px;
    text-align: center;
    align-items: center;
}

.services .text{
    display: flex;
    margin: auto;
   }

   .services{
    margin-bottom: 25px;
    height: 450px;
   
   }

.serv_desc{
    background-color: var(--corFundo);
    width: 100%;
    height: 300px;
    margin: 15px;
    opacity: 0.9;
    border-radius: 3px;
    box-shadow: 2px 2px 3px var(--corShadow);
 
}
.serv_desc:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.serv_desc h2{
    font-family: var(--font1);
    text-align: center;
}

.serv_desc p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

#fotos{
    background-color: var(--corFundo);
    box-shadow: 2px 2px 3px var(--corShadow);
    
}
.fotos-container{
    width: 100%;
    position: relative;
    
}
.line1{
    
    width: 95%;
    height: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 3px 3px 0px 0px;
   
   
}

.line2{
    
    width: 95%;
    height: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 3px 3px 0px 0px;
    
}



.line1 img{
   max-width: 450px;
   max-height: 388px ;
    margin: 10px;
   
   
}
.line2 img{
    max-width: 450px;
    max-height: 388px ;
    margin: 10px;
   
    
 }

.footer{
  background-color: var(--corFundo);
}
.footer-container{
   
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 2em;
    height: 200px;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: 65px;
    font-family: var(--font1);
    
}

.about-text{
    font-size: 180x;
    text-align: center;
    font-family: var(--font1);
    margin: auto;      
}

.footer address{ 
    text-align: left;
    margin: auto;    
}

.footer_title{
    text-align: center;
    padding-bottom: 10px;
    font-family: var(--font1);
}

.footer_autor{
    font-size: 15px;
    text-align: center;
    margin: auto;
    line-height: 2em;;
    padding-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.footer_autor a{
    text-decoration: none;
    color: black;
}



@media screen and (max-width: 428px ) {
      
 
    label[for="btn_menu"]{
        visibility: visible;
        display: block;
        transition: all .4s
   
    }  
   
    .header-background{
        width: 100%;
        height: 200px; 
        background-size:100% 30%;
        background-position: center center;
        box-shadow: none;
        
    }
    .header{
    display: inline-block;
    width: 100%;
    height: 200px;
    box-shadow: none;
        
    }
   

    .logo img{
    position: absolute;
    margin-top: 5px;
    width: 150px;
    left: 25px; 
            
    }
    .title{
        position:absolute;
        margin-top: 100px;
        margin-left: 0px;
        width: 150px;
        height: 100px;
        font-size: 19px;
        left: 25px;  
        
    }
    .button{
        
        
        margin-left: 75%;
        margin-top: 33px;

    }
    .button ul{
        position: absolute;
        left: 30%;
        width: 220px;
        margin-right: 10px;
        margin-left: 50px;
        z-index: 10;         
  }

    .button ul a {
       
        font-size: 25px;
        width: 210px;
        background-color: var(--corFundo);
        margin: 4px;
        border-radius: 3px;
        box-shadow: 2px 2px 2px var(--corShadow); 
        display: none;      

    }
    .button label{  
     font-size: 60px;
       
        
    }
    
    #btn_menu:checked ~ ul a{
        display: block;
        
        
    }

    #slider{
        width: 100%;
        box-shadow: none;
        
    }

    .slider{
        width: 100%;
        box-shadow: none;
        
       
        
    }
    .nav-manual{
        
        width: 100%;
 
        
    }
    
    .manual-btn:not(:last-child){
        margin-right: 21px;
       
    
    }
    
   
    
    .nav-auto{
       width: 100%;
        
        
        
    }
    
    .nav-auto div:not(:last-child){
        margin-right: 19.5px;
    }
    #empresa_link h1{
        width: 100%;
        box-shadow: none;

    }
    

    .empresa{
        margin-top: 0px;
        width: 100%;
        height: auto;
        text-align: center;   
        box-shadow: none;   
        
    }
    
    .empresa .img_lat{
       display: none;
       
    }

    .empresa .text{
        width: 90%;
        height: auto;
        margin: auto;
        margin-top: 15px;
        font-size: 22px;
        
    }
    .services{
        height: 1330px;
    }

    .service_title{
        width: 100%;
        box-shadow: none;
        
       
       
    }
      
    #services_link{
        width: 100%;
        box-shadow: none;
    }
    .services-background{
        width: 100%;
        box-shadow: none;
     
    
      

    }

    .services{
        width: 100%;
        box-shadow: none;

    }

    .services .text{
       
        
        display: block;
        
        
        
    }

    .serv_desc h1{
        font-size: 25px;
       
    }
    #fotos{
        width: 100%;
        box-shadow: none;
    }
    .fotos-container{
        width: 100%;
        height:auto; 
        box-shadow: none;
        }
    .line1{
        padding-top: 15px;
        
        display: block;
        width: 100%;
        height: auto;
        margin: auto;
        box-shadow: none;
       
       
       
    }
    .line1 img{
        width: 90%;
        margin: auto;
        margin-top: 10px;
        display: flex;
        border-radius: 3px;
               
    }

    .line2{
        
        padding-top: 15px;
        display: block;
        width: 100%;
        height: auto; 
        margin: auto;
        box-shadow: none;
        
    }

    .line2 img{
        width: 90%;
        margin: 0px auto 10px;
        display: flex;
        border-radius: 3px;
       
        
    }
    .footer-container{
        margin-top: 15px;
        display: block;
        
    }
    .footer{
        width: 100%;
        box-shadow: none;
        
     }

     .about-text{
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
     }

    .footer address{
        padding-top: 10px;
        font-size: 18px;
        text-align: center;
        
        
        
     }

     .footer_autor{
        margin-top: 15px;
        font-size: 12px;
        line-height: 1.5em;
     }

    
}


@media screen and (max-width: 360px ) {
    .button ul{    
        width: 180px;
    }

    .button ul a {
        font-size: 28px;
        width: 180px;
    }
  
    .footer address{
        font-size: 18px;     
    }
  
}







